<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <main>
    <div class="centered-element">
        <h1>Capybara time!!</h1>
        <img src="images/capybara.jpg" alt="An adorable, peaceful capybara. One of the friendliest creatures in the animal kingdom.">
    </div>
    </main>
</body>
</html>